<html>



<%function getUser() {
      return 100000;
    }%>

    <style>
      
img {
  width: 100%;
  height: auto;
}

input[type=text], select {
  width: 100%;
  height: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: medium;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  height: 10%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
}

input[type=submit]:hover {
  background-color: #45a049;
  height: 10%;
  font-size: medium;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>


  <head><title><%= title %></title></head>
  <body style="background-color:powderblue;">


    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    window.extAsyncInit = function() {
     // alert('loaded sdk');
     getUser();
    // alert('setting to ' + user_psid);




//matching??
    // document.getElementById("pOs").setAttribute('value', user_psid);
     
    };
    function getUser() {
      MessengerExtensions.getUserID(function success(uids) {
        var psid = uids.psid;
        alert(JSON.stringify(psid));
        setUser(JSON.stringify(psid))
document.getElementById("pOs").setAttribute('value', user_psid.substring(1, user_psid.length-1));

      }, function error(err, errorMessage) {
        alert(JSON.stringify(errorMessage));
         // return undefined;
      });
    }
    /*function getUser() {
      setUser('500');
    }*/

    var user_psid;
    function setUser(string) {
      console.log('set user to: ' + string);
      user_psid = string;
     // alert("user being set to:   " + user_psid);
      console.log('set user to: ' + user_psid);
    }

      function getUserPSIDString() {
      return user_psid;
    }

    function getLink() {
      //var string = getUser();
      //user_psid.replace(/['"]+/g, '')
      return "https://nicoswebhook.herokuapp.com/trade?id=" + user_psid.substring(1,user_psid.length-1);
    }
    

   // function get

</script>





    <h1>
    <%= user%> is trading a <%=poke%>!  
</h1>



<h2>
    Send this link to a friend you'd like to trade with!
</h2>

<script type="text/javascript">
  //getUser();
  console.log("this is what i have:" + user_psid);
  console.log('function gives me ' + getUserPSIDString());
  
//document.getElementById("psidOfSender").setAttribute('value', getUserPSIDString());
</script>


<h1> Type which pokemon you'd like to trade:  </h1>
  <form method = "post">
  Pokemon To Trade: <input type="text" name="pokemonName"><br>
  
  <input type="hidden" name="user_psid" id="pOs" ><br> 
  <input type="hidden" name="isTrading" id="isTrading" value = "true"><br>
<script type="text/javascript"> 
  //getUser();
  //alert(getUserPSIDString())
 // document.getElementById("example").setAttribute('value', getUserPSIDString());
</script>
  <input type="submit" value="Submit">
</form>


<a href="javascript:getLink();">

<img border="0" alt="cover photo" src="/images/cover.png">
</a>




  </body>
</html>